/* FONTS */
@font-face {
    font-family: 'Explorer';
    src: url('explorer_free_regular_400-webfont.woff2') format('woff2'),
         url('explorer_free_regular_400-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url("https://use.typekit.net/oaa1rws.css");

/* MAIN */
.main {
    margin: 0;
    background-color: #fbd935;
}

.eachSection {
    padding: 5%;
}

#aloha {
    font-size: 20vw;
    font-family: Explorer;
}

#welcome {
    font-family: museo-slab;
    text-transform: uppercase;
    font-weight: 900;
}

.navBar {
    position: fixed;
    bottom: 2%;
    background-color: #ffffff;
    border-radius: 15px;
    left: 5%;
    right: 5%;
    font-family: museo-slab;
    text-decoration: none;
    font-weight: 800;
    font-size: 0.7em;
    z-index: 9;
}

.navBar > ul {
    list-style-type: none;
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navBar > ul > li {
    display: inline-block;
}

.green-bg {
    background-color: #63780b;
}

.blue-text {
    color: #2b988a;
}

.green-text {
    color: #63780b;
}

.title-intro {
    position: relative;
    margin-bottom: 0;
    text-align: center;
    margin-top: 50%;
}

.light-bg {
    background-color: #f9f6e8;
}

.fullHeight {
    height: 100vh;
}

.header {
    position: fixed;
    z-index: 9;
    width: 100%;
}

.yellow-bg {
    background-color: #fbd935;
}

@keyframes rotateSVG{
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#favoritesRotate {
    animation-name: rotateSVG;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

