html {
    scroll-behavior: smooth;
}

/* FONTS */
@font-face {
    font-family: 'Explorer';
    src: url('./cssfonts/explorer_free_regular_400-webfont.woff2') format('woff2'),
         url('./cssfonts/explorer_free_regular_400-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url("https://use.typekit.net/oaa1rws.css");

/* MAIN */
.main {
    margin: 0;
    background-color: #fbd935;
}

.eachSection {
    padding: 15% 5% 5%;
}

#aloha {
    font-size: 19vw;
    font-family: Explorer;
}

#welcome {
    font-family: museo-slab;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 7vw;
}

.navBar {
    position: fixed;
    bottom: 2%;
    background-color: #ffffff;
    border-radius: 15px;
    left: 5%;
    right: 5%;
    font-family: museo-slab;
    text-decoration: none;
    font-weight: 800;
    font-size: 0.7em;
    z-index: 9;
}

.navBar > ul {
    list-style-type: none;
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navBar > ul > li {
    display: inline-block;
}

.green-bg {
    background-color: #63780b;
}

.blue-text {
    color: #45a3a6;
}

.green-text {
    color: #80981d;
}

.title-intro {
    position: relative;
    margin-bottom: 0;
    text-align: center;
    margin-top: 30%;
}

.light-bg {
    background-color: #f9f6e8;
}

.fullHeight {
    height: 100vh;
}

.header {
    position: fixed;
    z-index: 9;
    width: 100%;
}

.yellow-bg {
    background-color: #fbd935;
}

@keyframes rotateSVG{
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#favoritesRotate {
    animation-name: rotateSVG;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    right: 5%;
    position: absolute;
}

.red-bg {
    background-color: #fb3c3c;
}

.link-text {
    font-family: museo-slab;
    color: #ffffff;
    font-weight: 800;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    border-radius: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 10%;
}

.location-title {
    font-family: cheap-pine-sans;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    color: #ffffff;
}

.horizontalStrip {
    display: inline-flex;
    padding-left: 15%;
}

.ellipseContainer {
    width: 120px;
    height: 120px;
    border-radius: 70px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.foodPic {
    height: 100%;
    transform: translateX(-5%);
}

.card {
    display: grid;
    min-height: 70vw;
    border-radius: 25px;
    grid-template-rows: 50% 10%;
    padding-top: 30px;
    width: 50vw;
    margin-right: 40px;
}

.horizontalGallery {
    overflow-x: auto;
    overflow-y: hidden;
}

.card > h4 {
    width: 80%;
    margin: 0 auto;
}

.card > p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.red-text {
    color: #fb3c3c;
    font-size: 10vw;
    font-family: cheap-pine-sans;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: 4px dotted #fb3c3c;
    margin-top: 20%;
}

.favoritesButton {
    position: relative;
    width: 100px;
    height: 100px;
    float: right;
}

.title-intro > span {
    display: block;
}

.shapeContainer > img {
    transform: translateY(25vh);
}

